{% extends "base.html" %}

{% block content %}
    <main>
        <div class="content_width">
            <h1>JS30</h1>
            <hr class="rule" />
            <p>
                Use the menu on the left to navigate to each of the days
                examples.
            </p>
            <p>
                Thanks to
                <a href="https://twitter.com/wesbos">Wes Bos</a> for
                prividing this free course at
                <a href="https://javascript30.com/"
                    >https://javascript30.com/.
                </a>
            </p>
            <p>
                Repo:
                <a href="https://github.com/kieranphilipbrown/JS30"
                    >https://github.com/kieranphilipbrown/JS30</a
                >
            </p>
        </div>
    </main>
{% endblock %}
