{% extends "base.html" %}

{% block content %}
    <main>
        <nav class="d-26_nav">
            <div class="dropdownBackground">
                <span class="d-26_arrow"></span>
            </div>
            <div class="content_width">
                <ul class="d-26_menu">
                    <li>
                        <a href="#">Home</a>
                        <div class="dropdown dropdown1">
                            <h3>A Few Links</h3>
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                            <a href="#">Link 4</a>
                        </div>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <div class="dropdown dropdown2">
                            <h3>Many Links</h3>
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                            <a href="#">Link 4</a>
                            <a href="#">Link 5</a>
                            <a href="#">Link 6</a>
                            <a href="#">Link 7</a>
                            <a href="#">Link 8</a>
                        </div>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                        <div class="dropdown dropdown3">
                            <h3>Image</h3>
                            <img src="/images/highland-cow.jpeg" alt="Highland Cow" />
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </main>
    <script>

        const triggers = document.querySelectorAll(".d-26_menu > li");
        const background = document.querySelector(".dropdownBackground");
        const stripeNav = document.querySelector(".d-26_nav");

        function handleEnter() {
            this.classList.add("trigger-enter");
            setTimeout(() => this.classList.contains("trigger-enter") && this.classList.add("trigger-enter-active"), 150);
            background.classList.add("open");

            const dropdown = this.querySelector(".dropdown");
            const dropdownCoords = dropdown.getBoundingClientRect();
            console.log(dropdownCoords);
            const navCoords = stripeNav.getBoundingClientRect();
            console.log(navCoords);

            const coords = {
                height: dropdownCoords.height,
                width: dropdownCoords.width,
                top: dropdownCoords.top - navCoords.top,
                left: dropdownCoords.left - navCoords.left
            }

            background.style.setProperty("width", `${coords.width}px`);
            background.style.setProperty("height", `${coords.height}px`);
            background.style.setProperty("transform", `translate(${coords.left}px, ${coords.top}px)`);
        }

        function handleLeave() {
            this.classList.remove("trigger-enter", "triger-enter-active");
            background.classList.remove("open");
        }

        triggers.forEach(trigger => trigger.addEventListener("mouseenter", handleEnter));
        triggers.forEach(trigger => trigger.addEventListener("mouseleave", handleLeave));

    </script>
{% endblock %}
