{% extends "base.html" %} {% block content %}
<main>
    <div class="content_width">
        <div class="game-container">
            <div class="game-title">
                <h1>Whack-a-mole! <span class="score">0</span></h1>
            </div>
            <div class="game-controls visible">
                <button class="start-game visible" onClick="startGame()">Start!</button>
                <!-- <button class="options visible">Options</button> -->
            </div>
            <div class="game">
                <div class="hole hole1">
                    <div class="mole"></div>
                    <img src="images/whack.svg" alt="Whack!" class="whack" />
                </div>
                <div class="hole hole2">
                    <div class="mole"></div>
                    <img src="images/whack.svg" alt="Whack!" class="whack" />
                </div>
                <div class="hole hole3">
                    <div class="mole"></div>
                    <img src="images/whack.svg" alt="Whack!" class="whack" />
                </div>
                <div class="hole hole4">
                    <div class="mole"></div>
                    <img src="images/whack.svg" alt="Whack!" class="whack" />
                </div>
                <div class="hole hole5">
                    <div class="mole"></div>
                    <img src="images/whack.svg" alt="Whack!" class="whack" />
                </div>
                <div class="hole hole6">
                    <div class="mole"></div>
                    <img src="images/whack.svg" alt="Whack!" class="whack" />
                </div>
            </div>
        </div>
    </div>
</main>
<script>

    const holes = document.querySelectorAll(".hole");
    const scoreBoard = document.querySelector(".score");
    const moles = document.querySelectorAll(".mole");
    const game = document.querySelector(".game");
    const startGameButton = document.querySelector(".start-game");
    const gameControls = document.querySelector(".game-controls");
    let lastHole;
    let timeUp = false;
    let score = 0;

    function randomTime(min, max) {
        return Math.round(Math.random() * (max - min) + min);
    }

    function randomHole() {
        const idx = Math.floor(Math.random() * holes.length);
        const hole = holes[idx];
        if (hole === lastHole) {
            console.log("That's the same hole as last time, lets run that function again.");
            return randomHole();
        }

        lastHole = hole;
        return hole;
    }

    function peep() {
        const time = randomTime(200, 1000);
        const hole = randomHole(holes);
        hole.classList.add("up");

        setTimeout(() => {
            hole.classList.remove("up");
            if (!timeUp) peep();
        }, time);
    }

    function startGame() {
        scoreBoard.textContent = 0;
        timeUp = false;
        score = 0;
        game.classList.add("visible");
        gameControls.classList.remove("visible");
        peep();
        setTimeout(() =>{
            timeUp = true;
            game.classList.remove("visible");
            gameControls.classList.add("visible");
            startGameButton.textContent = "Play Again?"
        }, 10000);
    }

    function bonk(e) {
        if (!e.isTrusted) return; // Cheater. Faking a click

        score++;
        this.classList.remove("up");

        e.target.nextElementSibling.classList.add("whack--display");
        setTimeout(() => {
            e.target.nextElementSibling.classList.remove("whack--display");
        }, 100);
        scoreBoard.textContent = score;
    }

    moles.forEach(mole => mole.addEventListener("click", bonk));

</script>
{% endblock %}
