/*------------------*
# Day 4 - Array Cardio (1)
*------------------*/

.d4__card {
    background: white;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    padding: 2rem;
}

.d4__hr {
    background: #333;
    border: 0;
    display: block;
    height: 3px;
    margin: 0;
    padding: 0;
    width: 10%;
}
