/*------------------*
# Day 2 - Clock
*------------------*/

@import url("https://fonts.googleapis.com/css?family=Orbitron");

// Analog

.clock {
    border: 20px solid white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
        inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
    height: 30rem;
    margin: 50px auto;
    padding: 2rem;
    position: relative;
    width: 30rem;
}

.clock-face {
    height: 100%;
    position: relative;
    transform: translateY(-3px); /* account for the height of the clock hands */
    width: 100%;
}

.hand {
    background: white;
    height: 6px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    top: 50%;
    width: 50%;
}

.second-hand {
    height: 2px;
}

.min-hand {
    height: 4px;
}

.hour-hand {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 8px;
}

// Digital

.digital-clock {
    background: #f9f9f9;
    border-radius: 10px;
    font-family: "Orbitron", sans-serif;
    padding: 0.7rem;
    position: relative;
}

.digital-clock__inner {
    align-items: center;
    background: #333;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.7fr auto 0.7fr auto 0.4fr;
    justify-content: space-around;
    min-width: 360px;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.hours,
.minutes,
.colon {
    color: #a4fe7c;
    font-size: 4rem;
}

.seconds,
.colon--small {
    color: #a4fe7c;
    font-size: 2rem;
    margin-top: 0.8rem;
}

.digital-clock__alarm {
    background: #f94040;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -10px;
    left: 120px;
    height: 10px;
    position: absolute;
    width: 40%;
}

.digital-clock__footleft,
.digital-clock__footright {
    background: #333333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: -20px;
    height: 20px;
    position: absolute;
    width: 25px;
}

.digital-clock__footleft {
    left: 25px;
}

.digital-clock__footright {
    right: 25px;
}

// Toggle buttons

.clock_toggle {
    position: absolute;
    right: 0;
    top: 1rem;
}

.hidden {
    display: none;
}

.clock_button {
    background: #282828;
    border: 0;
    border-radius: 4px;
    color: $color-white;
    font-size: 14px;
    padding: 0.9rem;
    text-decoration: none;
    transition: 0.4s ease;

    &:hover {
        background: lighten(#282828, 10%);
        cursor: pointer;
    }

    &:focus,
    &:active {
        @extend %focus;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}
