/*------------------*
# Day 2 - CSS Variables & JS
*------------------*/

:root {
    --base: #574a3e;
    --blur: 0;
    --spacing: 50px;
}

.d3__img__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    position: relative;
}

.d3__img__pin {
    background: #a3a3a3;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    left: 50%;
    top: -10.25%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    z-index: 10;
}

.d3__img__string-1,
.d3__img__string-2 {
    background: #dac647;
    height: 1px;
    position: absolute;
    top: 0;
    width: 52%;
}

.d3__img__string-1 {
    transform: rotate(15deg);
    transform-origin: right;
    right: 0;
}

.d3__img__string-2 {
    transform: rotate(-15deg);
    transform-origin: left;
    left: 0;
}

.d3__img {
    background: var(--base);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    filter: blur(var(--blur));
    padding: var(--spacing);
}

.controls {
    display: flex;
    flex-direction: column;
}
