/*------------------*
# Day 2 - CSS Variables & JS
*------------------*/

:root {
    --base: #07aa07;
    --blur: 10px;
    --spacing: 10px;
}

.d3__img {
    background: var(--base);
    border: 3px solid #333;
    filter: blur(var(--blur));
    padding: var(--spacing);
}
