/*------------------*
# Day 9 - Dev Tool Tips
*------------------*/

.github_bold {
    font-weight: bold;

    span {
        font-weight: normal;
    }
}

.github_image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
