/*------------------*
# Main Content
*------------------*/

main {
    background: #f0db4f;
    font-family: "Josefin Sans", sans-serif;
    min-height: calc(100vh - 56px);
    padding: 8rem 0;
    transition: 0.4s ease;
    width: 100%;

    a {
        &:focus {
            @extend .focus;
        }
    }
}
